$primary: white;
$secondary: blue;

body {
  box-sizing: border-box;
  background-color: $primary;
  color: $secondary;
}

header {
  font-size: 2rem;
  position: absolute;
}

.App {
  #navButton {
    float: left;
    font-size: 1.3rem;
  }

  #navButton:hover {
    .navButtonText {
      font-size: 1.5rem;
    }
  }
}

.Nav {
  display: block;
  float: left;
  padding: 10px 20px;
  background-color: $secondary;
  color: $primary;
  font-size: 1.2rem;
  font-weight: bold;
  // width: 15vw;
  height: 100vh;

  p {
    margin: 0;
    display: block;
  }

  .navLesson:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.Lesson {
  margin: 0 auto;
  padding-top: 50px;
  width: 50%;
  height: 100vh;
  color: $secondary;

  .lessonHeader {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    line-height: 2.6rem;
    background-color: $secondary;
    color: white;
    font-weight: 500;
  }

  .lessonBody {
    margin-top: 20px;
    background-color: $primary;
    color: $secondary;
    font-size: 1.5rem;
    line-height: 1.76rem;
  }
}
